@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .text-heading-0 {
    @apply 2xl
  }

  .text-heading-1 {
    @apply 3xl:text-7xl 2xl:text-5xl xl:text-5xl text-3xl;
  }

  .text-heading-2 {
    @apply 2xl:text-6xl xl:text-5xl text-4xl;
  }

  .text-heading-3 {
    @apply 2xl:text-5xl lg:text-4xl text-2xl;
  }

  .text-heading-4 {
    @apply 2xl:text-2xl lg:text-lg text-lg;
  }
  
}

@font-face {
    font-family: Gilroy-Bold;
    src: url('../public/fonts/Gilroy-Bold.ttf')
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url('../public/fonts/Gilroy-SemiBold.ttf')
}

@font-face {
  font-family: Gilroy-Light;
  src: url('../public/fonts/Gilroy-Light.ttf')
}

@font-face {
  font-family: Gilroy-Medium;
  src: url('../public/fonts/Gilroy-Medium.ttf')
}


:root {
  --base-blue-1: #17008D;
  --base-blue-2: #6302DD38;
  --base-back-1: #000000;
  --base-white-1: #ffffff;
  --base-orange-1: #FF9100;
}

html, body {
  background-color: var(--base-back-1);
  color: var(--base-white-1);
  font-family: Gilroy-Medium;
  cursor: default;
}

.text-base-blue-1 {
  color: var(--base-blue-1);
}

.bg-base-blue-1 {
  background-color: var(--base-blue-1);
}

.bg-case-blue-request
{
  background-color: #6302dd;
}
.bg-base-blue-2 {
  background-color: var(--base-blue-2);
}

.bg-base-orange-1 {
  background-color: var(--base-orange-1);
}

.text-base-orange-1 {
  color: var(--base-orange-1)
}

.border-blue {
  border-color: rgb(99,2,221);
}

.bg-gradient-1 {
  background: rgb(99,2,221);
  background: transparent linear-gradient(290deg, #000000 0%, #17008D 100%) 0% 0% no-repeat padding-box;
}

.bg-gradient-2 {
  background: transparent linear-gradient(135deg, #000000 0%, 85%, #17008D 100%) 0% 0% no-repeat padding-box;
}

.bg-gradient-3 {
  background: transparent linear-gradient(45deg, #000000 0%, 85%, #17008D 100%) 0% 0% no-repeat padding-box;
}

.bg-gradient-4 {
  background: transparent radial-gradient(circle at top right, #17008D 10%, #000000 100%) 0% 0% no-repeat padding-box;
}

.bg-gradient-5 {
  background: transparent linear-gradient(180deg, #6302DD 0%, #32016F00 100%) 0% 0% no-repeat padding-box;
}

.bg-gradient-6 {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

.Gilroy-Bold {
  font-family: Gilroy-Bold;
}

.Gilroy-SemiBold {
  font-family: Gilroy-SemiBold;
}

.Gilroy-Light {
  font-family: Gilroy-Light;
}

.stroke-text {
  -webkit-transition: color .5s ease-out;
  transition: color .5s ease;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}
.stroke-text-3 {
  -webkit-transition: color .5s ease-out;
  transition: color .5s ease;
  -webkit-text-stroke-color: #707070;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.stroke-text {
  -webkit-transition: color .5s ease-out;
  transition: color .5s ease;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.stroke-text:hover {
  -webkit-transition: color .5s ease-out;
  transition: color .5s ease-out;
  color: #FF9100;
}

.stroke-text-2 {
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: transparent;
}

.stroke-text-2:hover {
  color: white;
}

.hero-bg-1 {
  background-image: url('../public/images/heroSide1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg-2
{
  background-image: url('../public/images/arrow-png.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rolling-animation {
  animation-name: rolling;
  animation-duration: 12s;
  animation-timing-function: cubic-bezier(0, 0.15, 0.30, 0.45, 0.94);
}

@keyframes rolling {
  0% {
    transform: translate3d(-0%, 0, 0);
  }

  50% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0%, 0, 0)
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.line {
  height: 3rem;
  width: 1px;
  background: #707070;
  position: absolute;
  margin-top: 1.2rem;
}

.bg-meet
{
  background-color: #EEF0F4;
}

.bg-meeting
{
  background-color: #EBEBF3;
  border: 2px solid #C7ADED;
}

.blue-section
{
  background: #6302DD38 0% 0% no-repeat padding-box;
border: 1px solid #6302DD;
padding: 2rem;
}

.btn-career {
  background: #6302DD 0% 0% no-repeat padding-box;
  height: 55px;
  padding: 0px 3rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  line-height: 55px;
  margin-bottom: 0.9rem;
  display: block;
  max-width: 300px;
  text-align: center;
}

.btn-contact {
  background: #6302DD38 0% 0% no-repeat padding-box;
  border: 1px solid #6302DD;height: 55px;
  padding: 0px 4rem;
  margin-right: 1rem;
  line-height: 55px;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  display: block;
  text-align: center;
  max-width: 300px;
}

.bg-gradient-career
{

  background-image: linear-gradient(180deg, #6302DD 0%, #5A04C6 0%, #16161600);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
p.view-opening {text-decoration: underline;

  letter-spacing: 0px;
  color: #FF9100;font-size: 1.4rem;padding-top: 1rem;}

  h4.openings-title {
    font-size: 6rem;
    font-family: 'Gilroy-Bold';
    -webkit-text-stroke: 1px #d6b9b9;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: -10px;
}

.bg-development-simply
{
background: #6302DD38 0% 0% no-repeat padding-box;
border: 1px solid #6302DD;
padding: 2rem 1rem;
}

.bg-development-simply h2 {
  line-height: 30px;
  font-family: 'Gilroy-Bold';
  font-size: 1.6rem;
  width: 200px;
  margin-bottom: 0.4rem;
}
.bg-development-simply p {
  letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
  font-size: 14px;
  padding-right: 6rem;
}

.bg-opening {
  background: #6302DD38 0% 0% no-repeat padding-box;
   border: 1px solid #6302DD;
}
.btn-apply {
  background: #6302DD 0% 0% no-repeat padding-box;
  height: 55px;
  padding: 0px 2rem;
  font-size: 16px;
  margin-left: 1rem;
  border: 1px solid #6302DD;
}
button.btn-details {
  height: 55px;
   padding: 0px 2rem;
   font-size: 16px;
   margin-left: 1rem;
  border: 1px solid #6302DD;
}

label.experiene-label {
  letter-spacing: 0px;
  color: #e1cfcf;
  opacity: 1;
  font-size: 14px;
}

ul.list-job li {list-style: disc;line-height: 35px;}ul.list-job {}

ul.list-job {margin-left: 1rem;}


.newsletter-project
{
  background: transparent linear-gradient(76deg, #6302DD 0%, #B384EE 100%) 0% 0% no-repeat padding-box;
  padding: 2.6rem 2rem;
  margin: 0.5rem;
}


.email-newsletter
{
  background: #FFFFFF38 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;
height: 50px;
border: none;
padding: 0rem 1rem;
min-width: 300px;
}

.email-newsletter:focus
{
  outline: none;
}

.btn-send-us
{
background-color: #fff;
height: 50px;
border: none;
padding: 0rem 2rem;
color: #6302DD;
font-family: Gilroy-Bold;
}

@media(max-width: 767px)
{
  .email-newsletter
  {
     min-width: auto;
     margin: 0 auto;
     margin-bottom: 0.5rem;
     text-align: center;
     display: block;
  }
  .btn-send-us
  {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
    display: block;
  }
  .newsletter-project
  {
    padding: 1.6rem 1rem;
    text-align: center;
  }
  h4.openings-title
  {
    font-size: 4rem;
  }
  .mobile-padding
  {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container
{
  max-width: 1440px;
  margin: 0 auto;
  display: block;
}


/*  */

.border-cutom
{
  border-color: #4601a1;
}



.overflow-div-height
{
  max-height: 100vh;
  overflow-y: auto;
}

.overflow-div-height::-webkit-scrollbar {
  display: none;
}

.intro {
  margin-top: 7.66vw;
  font-size: 5.56vw;
  line-height: 5vw;
}
.intro .line1 {
  display: block;
}

.intro .line1 .content {
  height: 6.5vw;
}

.intro .line1 .content {
  display: inline-flex;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.intro .line1 .content .mask {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  transform-origin: 100% 50%;
  transform: translateZ(0);
  transition: all 500ms ease-in;
  opacity: .65;
  background: #000;
}

.main-tool-bar {
  height: auto;
  /* background: red; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  z-index: -999999;
}
.main-tool-bar--scrolled {
  height: 40px;
}

.scrollable-area {
  height: 200vh;
}

.blend.show {
  background: transparent;
  color: black;
}

.bg-image-name::after
{
  content: '';
  background-image: url('../public/images/BulletIcon.png');
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  width: 15px;
  height: 15px;
  background-size: contain;
  position: absolute;
  margin-top: -1.3rem;
}

.bg-image-name span{
  padding-left: 1.4rem;
}
/* 
.modal-box
{
  max-width: 50rem;
} */

.hover-animation
{
  transition: all 200ms ease-in-out 0s;
}

.hover-animation:hover{
  transform: scale(1.2);
  transition: all 500ms ease-in 0s;
  -webkit-text-stroke-color: #ff9100;
}
/*  */
html {
  cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E") 3 3, auto;
}
.cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
  /* transition-duration: 125ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-property: width, height, transform; */
  transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
              150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
              150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1;
  pointer-events: none;
  will-change: transform;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  border: 2px solid #b55400;
  opacity: var(--scale);
  -webkit-transform: scale(var(--scale));
          transform: scale(var(--scale));
  transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
              300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
              150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}


.bg-purple-theme
{
  background-color: #6302DD;
}

.modal-box::-webkit-scrollbar
{
  display: none;
}

.after-overlay:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0));

}


@media(min-width: 1200px)
{
  .padding-left-all-section
  {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.masking {
  transform: translate3d(100%, 0px, 0px);
}

.fish{
  transition: all 200ms ease-in 0s;
  /* transform: 'translate3d(9%, 0px, 0px)'; */
}

#animate3
{
  transition: all 200ms ease-in 0s;

}

.arrow {
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
  position: absolute;
  left: 2.3rem;
  top: -8px;
}

.scroll-logo
{
  position: absolute;
  bottom: 10px;
  left: 40px;
}
.scroll-logo img
{
  height: 80px;
  width: 80px;
}

#navbar {
  transition: all 0.5s;
}

.scrollUp {
  transform: translateY(-100px);
}

.rotating {
  animation: rotating 10s linear infinite;
}

@keyframes rotating { 
  0%{

    transform:rotate(0deg); 
  }
  100% { 
      transform: rotate(1turn);
  } 
}

.text-stroke-forte
{
  transition: color .5s ease;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
  color: transparent;
  font-size: 2rem;
}

.text-stroke-forte:hover
{
  color: #FF9100;
}

.color-gray
{
  color: rgba(255,255,255,0.5);
}
.hover-image-animation 
{
  overflow: hidden;
}
.hover-image-animation img
{
  transition: all 500ms ease 0s;
  overflow: hidden;
}

.hover-image-animation:hover .text-stroke-forte
{
  color: #FF9100;
}

.hover-image-animation:hover img
{
   transform: scale(1.1);
}

/* .bg-yellow-h
{
  background-color: #FF9100;

} */
.hover-bg-yellow-h
{
  transition: all 500ms ease 0s;
}

.hover-bg-yellow-h:hover .color-hover
{
  background-color: #FF9100;
}